<template>
  <section>
      <div class="container d-flex justify-content-center">
        <div class="calculator">

          <!-- VARIANTS -->
          <h6><span>1.</span> Variant poistenia</h6>
          <div class="row mb-4">
            <div v-for="variant in variants" :key="variant.id" class="col-12 col-sm-6 mb-3 mb-sm-0">
              <div :class="{active: activeVariant.id === variant.id}" class="label" @click="setVariant(variant.id)">
                <p>{{variant.name}}</p>
              </div>
            </div>
          </div>


          <!-- DATE -->
          <h6><span>2.</span> Doba poistenia</h6>
          <DatePicker v-if="activeVariant.slug === 'short'" v-model="calendar.range" class="mb-4" color="green" is-range :min-date="new Date()" :model-config="calendar.modelConfig" >
            <template v-slot="{ inputValue, inputEvents }">
              <div class="calendar d-flex">
                <div class="input-wrap">
                  <label for="start">Od:</label>
                  <input :value="inputValue.start" v-on="inputEvents.start" id="start"/>
                </div>

                <div class="input-wrap">
                  <label for="end">Do:</label>
                  <input :value="inputValue.end" v-on="inputEvents.end" id="end"/>
                </div>
              </div>

              <small class="d-block mt-2">Počet dní: <strong>{{numberOfDays()}}</strong></small>
            </template>
          </DatePicker>

          <DatePicker v-if="activeVariant.slug === 'yearly'" v-model="calendar.date" class="mb-4" :min-date="new Date()" :model-config="calendar.modelConfig">
            <template v-slot="{ inputValue, inputEvents }">
              <div class="calendar">
                <div class="input-wrap">
                  <label for="date">Od:</label>
                  <input :value="inputValue" v-on="inputEvents" id="date"/>
                </div>
              </div>
            </template>
          </DatePicker>


          <!-- PACKAGE -->
          <h6><span>3.</span>Balík</h6>
          <div class="row mb-4">
            <div v-for="item in activeVariant.packages" :key="item.id" class="col-12 col-sm-4 mb-3 mb-sm-0">
                <div :class="{active: activePackage.id === item.id}" class="label" @click="setPackage(item.id)">
                    <p>{{item.name}}</p>
                    <span>{{formatPrice(item.price)}} <small v-if="activeVariant.slug === 'short'">/ deň</small></span>
                </div>
            </div>
          </div>


          <!-- EXTENSIONS -->
          <h6><span>4.</span>Pripoistenia</h6>
          <div class="row mb-4">
            <div v-for="item in activeVariant.extensions" :key="item.id" class="col-12 col-sm-6 mb-3 mb-sm-0">
              <div :class="{active: item.selected}" class="label" @click="setExtension(item)">
                <p>{{item.name}}</p>
                <strong>{{item.description}}</strong>
              </div>
            </div>
          </div>


          <!-- NUMBER OF PERSONS -->
          <h6><span>5.</span>Počet osôb</h6>
          <div class="row mb-4">
            <div class="d-flex number-of-persons">
              <button type="button" @click="numberOfPersons--">-</button>
              <input v-model="numberOfPersons" type="number">
              <button type="button" @click="numberOfPersons++">+</button>
            </div>
          </div>


          <button type="button" class="calculate-price" @click="calculateFinalPrice()">vypočítať cenu</button>

          <!-- FINAL PRICE -->
          <div class="text-center mt-3">
            <h3 v-if="finalPrice">Cena poistenia: <strong>{{formatPrice(finalPrice)}}</strong></h3>
          </div>
        </div>
    </div>
  </section>
</template>

<script>
// Import V-Calendar
import {  DatePicker } from 'v-calendar';
import 'v-calendar/dist/style.css';
import moment from "moment";

export default {
  name: "CpCalculator",
  components: {
    DatePicker,
  },
  data() {
    return {
      variants: [
        {
          id: 1,
          name: 'Krátkodobé poistenie',
          slug: 'short',
          packages: [
            {
              id: 1,
              name: 'Základný balík',
              price: 1.2
            },

            {
              id: 2,
              name: 'Rozšírený balík',
              price: 1.8
            },
            {
              id: 3,
              name: 'Extra balík',
              price: 2.4
            }
          ],
          extensions: [
            {
              id: 1,
              name: 'Storno cesty',
              description: '50% prirážka k sadzbe',
              price: 1.5,
              selected: false,
            },
            {
              id: 2,
              name: 'Športové aktivity',
              description: '30% prirážka k sadzbe',
              price: 1.3,
              selected: false,
            }
          ]
        },
        {
          id: 2,
          name: 'Celoročné poistenie',
          slug: 'yearly',
          packages: [
            {
              id: 1,
              name: 'Základný balík',
              price: 39
            },

            {
              id: 2,
              name: 'Rozšírený balík',
              price: 49
            },
            {
              id: 3,
              name: 'Extra balík',
              price: 59
            }
          ],
          extensions: [
            {
              id: 1,
              name: 'Storno cesty',
              description: '20% prirážka k sadzbe',
              price: 1.2,
              selected: false
            },
            {
              id: 2,
              name: 'Športové aktivity',
              description: '10% prirážka k sadzbe',
              price: 1.1,
              selected: false
            }
          ]
        }
      ],
      activeVariant: {},
      activePackage: {},
      selectedExtensions: [],
      numberOfPersons: 1,
      finalPrice: null,
      calendar: {
        date: moment(new Date()).format('DD-MM-YYYY'),
        range: {
          start: moment(new Date()).format('DD-MM-YYYY'),
          end: moment(new Date()).format('DD-MM-YYYY'),
        },
        days: null,
        modelConfig: {
          type: 'string',
          mask: 'DD-MM-YYYY', // Uses 'iso' if missing
        }
      }
    }
  },


  watch: {
    /**
     * If active variant changed
     */
    activeVariant() {
      // Set dates
      this.calendar.date = moment(new Date()).format('DD-MM-YYYY');
      this.calendar.range.start = moment(new Date()).format('DD-MM-YYYY');
      this.calendar.range.end = moment(new Date()).format('DD-MM-YYYY');
      this.calendar.days = this.numberOfDays();

      // Set package
      this.setPackage(this.activeVariant.packages[0].id)

      // Clear selected extensions
      this.activeVariant.extensions.forEach(item=>{
        item.selected = false;
      })
      // Clear price
      this.finalPrice = null;

      // Clear selected extensions
      this.selectedExtensions = [];
    },

    /**
     * If number of persons changed
     * @param value
     */
    numberOfPersons(value) {
      const minPersons = 1;
      const maxPersons = 3;

      if (value < minPersons) {
        this.numberOfPersons = minPersons;
      } else if (value > maxPersons) {
        this.numberOfPersons = maxPersons;
      }
    }
  },


  created() {
    // Set default variant type
    if (this.variants.length) {
      this.setVariant(this.variants[0].id);
      this.setPackage(this.activeVariant.packages[0].id)
    }
  },

  methods: {
    /**
     * Set variant type
     * @param id
     */
    setVariant(id) {
      this.activeVariant = this.variants.find(item=>item.id === id);
    },

    /**
     * Set package
     * @param id
     */
    setPackage(id) {
      this.activePackage = this.activeVariant.packages.find(item=>item.id === id);
    },

    /**
     * Set extension
     * @param item
     */
    setExtension(item) {
      item.selected = !item.selected;
      this.selectedExtensions = this.activeVariant.extensions.filter(item=>item.selected === true);
    },

    /**
     * Number of days
     * @returns {number}
     */
    numberOfDays() {
      const startDate = this.calendar.range.start;
      const endDate = this.calendar.range.end;
      const numberOfDays = moment(endDate,'DD-MM-YYYY').diff(moment(startDate,'DD-MM-YYYY'), 'days') + 1;
      this.calendar.days = numberOfDays;

      return numberOfDays;
    },

    /**
     * Calculate final price
     */
    calculateFinalPrice() {
      const numberOfDays = this.calendar.days;
      const packagePrice = this.activePackage.price;
      const numberOfPersons = this.numberOfPersons;
      const selectedExtensionsPrices = this.selectedExtensions.map(obj => obj.price);
      const allInputs = [numberOfDays,packagePrice,numberOfPersons];
      allInputs.push(...selectedExtensionsPrices);

      // Save final price
      this.finalPrice = allInputs.reduce((a,b)=>a*b);
    },

    /**
     * Format price
     */
    formatPrice(value) {
      const formatter = new Intl.NumberFormat('sk-SK', {
        style: 'currency',
        currency: 'EUR',
        minimumFractionDigits: 2
      });
      return formatter.format(value);
    }
  }
}
</script>

<style lang="scss" scoped>
$base-color: #66c200;

section {
  padding: 100px 0;
  .calculator {
    max-width: 600px;
    width: 100%;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    .number-of-persons {
      button {
        width: 40px;
        height: 40px;
        border: none;
        background-color: $base-color;
        color: #fff;
        font-size: 25px;
        transition: background-color .2s ease-in-out;
        &:hover {
          background-color: darken($base-color,5%);
        }
      }

      input {
        width: 40px;
        height: 40px;
        text-align: center;
        border: none;
        border-top: 1px solid #cccccc;
        border-bottom: 1px solid #cccccc;
        font-weight: 700;
        outline: none;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        &[type=number] {
          -moz-appearance: textfield;
        }
      }
    }
    .calculate-price {
      width: 100%;
      height: 50px;
      border: none;
      background-color: $base-color;
      color: #fff;
      font-size: 20px;
      text-transform: uppercase;
      transition: background-color .2s ease-in-out;
      font-weight: 200;
      &:hover {
        background-color: darken($base-color,5%);
    }
      }
    .calendar {
      .input-wrap {
        flex: 0 0 50%;
        padding: 0 5px;
        label {
          cursor: pointer;
        }
        input {
          width: 100%;
          height: 40px;
          border: 1px solid #cccccc;
          outline: none;
          border-radius: 6px;
          cursor: pointer;
          padding: 0 10px;
        }
      }
    }
    .label {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      text-align: center;
      border: 1px solid #cccccc;
      border-radius: 6px;
      height: 60px;
      transition: background-color .2s ease-in-out;
      flex-direction: column;
      &.active {
        background-color: $base-color;
        border-color: $base-color;
        color: #fff;
      }
      &:hover:not(.active) {
        background-color: lighten(#cccccc,10%);
      }
    }
    h6 {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      span {
        display: flex;
        width: 30px;
        height: 30px;
        border: 1px solid #cccccc;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        border-radius: 50%;
        font-weight: 700;
      }
    }
  }
}
</style>