body,html,button {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  min-height: 100vh;
  background: url('../assets/img/bg-image.jpg') center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

p {
  margin-bottom: 0;
}